# based on Base16 Seti UI
# Author: Appelgriebsch


# some global theme specific variables
set $gtk-theme {{ gtk.theme.name }}
set $icon-theme {{ gtk.theme.icons }}
set $cursor-theme {{ gtk.theme.cursor }}
set $gui-font {{ font.primary.name }}
set $term-font {{ font.primary.name }} 14
set $gtk-color-scheme prefer-dark
set $kvantum-theme {{ kvantum }}

set $color0  {{ colors.sway.black0 }}
set $color1  {{ colors.sway.red1 }}
set $color2  {{ colors.sway.green2 }}
set $color3  {{ colors.sway.yellow3 }}
set $color4  {{ colors.sway.blue4 }}
set $color5  {{ colors.sway.magenta5 }}
set $color6  {{ colors.sway.cyan6 }}
set $color7  {{ colors.sway.white7 }}
set $color8  {{ colors.sway.black8 }}
set $color9  {{ colors.sway.red9 }}
set $color10  {{ colors.sway.green10 }}
set $color11  {{ colors.sway.yellow11 }}
set $color12  {{ colors.sway.blue12 }}
set $color13  {{ colors.sway.magenta13 }}
set $color14  {{ colors.sway.cyan14 }}
set $color15  {{ colors.sway.white15 }}

#$color0
set $background-color $color0
#$color6
set $text-color $color7
#color1
set $selection-color $color3
#color12
set $accent-color $color12

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG       Text    Indicator Child Border
client.focused          $color2 $color0 $color7 $color8   $color8
client.focused_inactive $color8 $color7  $color15 $color2   $color8
client.unfocused        $color8 $color0  $color15 $color2   $color8
client.urgent           $color10 $color0  $color15 $color2   $color8
client.placeholder      $color8 $color10  $color15 $color2   $color8
client.background       $color0
