{% if inventory_hostname == 'tinybot' %}
file:///mnt/bender
file:///mnt/ninjabot
file:///mnt/soundbot
file://{{ user.home }}/Documents
file://{{ user.home }}/Downloads
file://{{ user.home }}/LLMOS
file://{{ user.home }}/Library
file://{{ user.home }}/Pictures
file://{{ user.home }}/Recordings
file://{{ user.home }}/Sessions
file://{{ user.home }}/Videos
file://{{ user.home }}/Workspace
file://{{ user.home }}/Workspace/Archive
{% elif inventory_hostname == 'soundbot' %}
file:///mnt/bender
file:///mnt/ninjabot
file:///mnt/tinybot
file://{{ user.home }}/Documents
file://{{ user.home }}/Downloads
file://{{ user.home }}/LLMOS
file://{{ user.home }}/Library
file://{{ user.home }}/Pictures
file://{{ user.home }}/Recordings
file://{{ user.home }}/Sessions
file://{{ user.home }}/Videos
file://{{ user.home }}/Workspace
file://{{ user.home }}/Workspace/Archive
{% else %}
file:///mnt/bender
file:///mnt/ninjabot
file:///mnt/soundbot
file:///mnt/tinybot
file://{{ user.home }}/Documents
file://{{ user.home }}/Downloads
file://{{ user.home }}/Library
file://{{ user.home }}/Pictures
file://{{ user.home }}/Recordings
file://{{ user.home }}/Sessions
file://{{ user.home }}/Videos
file://{{ user.home }}/Workspace
file://{{ user.home }}/Workspace/Archive
{% endif %}
