roles/ansible-pyenv/.vscode/.prettierrc.yaml
*.pyc
tmp/
*.mp4
*.ppm
*.mmd
documentation/
roles/desktop/files/etc/xdg/menus/
roles/desktop/files/usr/local/share/applications/
roles/desktop/files/usr/local/share/desktop-directories/
docs/example/playbooks/vars/Archlinux-i3.yml
*.cast
*.bz2
.obsidian/
galaxy_cache/
galaxy_token
docs/build/
hostvars.json
*.zip
*.qcow2
*.iso
file/closet/
roles/utils/files/dotfiles/
roles/llmops/files/*.agi.json
file.log
/.venv/
**/.vscode/
*.code-workspace
/venv/
/assets/dotfiles/
*.iso
roles.tar.gz
/ansible-collections/
/dist/