export UU_ORDER="$UU_ORDER:/etc/profile.d/ruby.sh"
echo $PATH | grep -q "$HOME/.local/share/gem/ruby/{{ ruby__version }}/bin:" || export PATH="$HOME/.local/share/gem/ruby/{{ ruby__version }}/bin:$PATH"
