## Sonic Pi GUI colour theme override file
## ----------------------------------------

# Use this file to modify many of the visual elements in the GUI. The
# following is a list of the various elements you can style.

# To style one of them you need to assign a colour name or a colour hex
# code. Each assignment needs to go on a separate line. For example:

# Scope = "yellow"
# ButtonText = "#7e7e7e"

# List of element names:
# ----------------------

# Base = ""
# AlternateBase = ""
# ToolTipBase = ""
# ToolTipText = ""
Button = "#838383"
# ButtonBorder = ""
# PressedButton = ""
# ButtonText = ""
# PressedButtonText = ""
# Shadow = ""
# Light = ""
# Midlight = ""
# Mid = ""
# Dark = ""
ScrollBar = "#216C87"
# ScrollBarBackground = ""
# ScrollBarBorder = ""
# SliderBackground = ""
# SliderBorder = ""
# Slider = ""
Tab = "#09090d"
# TabText = ""
TabSelected = "#2b2b2b"
# TabSelectedText = ""
StatusBar = "#09090d"
# StatusBarText = ""
Menu = "#09090d"
MenuText = "#494949"
MenuSelected = "#216C87"
# MenuSelectedText = ""
MenuBar = "#09090d"
Foreground = "#2791b8"
Background = "#09090d"
HighlightedForeground = "#3B2352"
HighlightedBackground = "#3B2352"
WindowForeground = "#717171"
WindowBackground = "#09090d"
WindowInternalBorder = ""
WindowBorder = ""
ErrorBackground = "#636363"
DefaultForeground = "#de2a2a"
DefaultBackground = "#09090d"
# CommentForeground = ""
# CommentBackground = ""
# PODForeground = ""
# PODBackground = ""
NumberForeground = "#69e62e"
# NumberBackground = ""
FunctionMethodNameForeground = "#df2828"
# FunctionMethodNameBackground = ""
KeywordForeground = "#e08f23"
# KeywordBackground = ""
DemotedKeywordForeground = "#06206f"
# DemotedKeywordBackground
ClassNameForeground = "#C4580F"
GlobalForeground = "#717171"
SymbolForeground = "#D521C8"
# SymbolBackground
ModuleNameForeground = "#0fa4c4"
InstanceVariableForeground  = "#d51b7f"
#InstanceVariableBackground
ClassVariableForeground = "#859900"
# BackticksForeground = ""
# BackticksBackground = ""
# PercentStringxForeground = ""
# DataSectionForeground = ""
# DataSectionBackground = ""
DoubleQuotedStringForeground = "#c7c50a"
#DoubleQuotedStringBackground
SingleQuotedStringForeground = "#22acba"
# SingleQuotedStringBackground
# HereDocumentForeground = ""
# HereDocumentBackground = ""
# PercentStringForeground = ""
# PercentStringQForeground = ""
RegexForeground = "#e8448e"
# RegexBackground = ""
# HereDocumentDelimiterForeground = ""
# HereDocumentDelimiterBackground = ""
# PercentStringrForeground = ""
# PercentStringrBackground = ""
# PercentStringwForeground = ""
# PercentStringwBackground = ""
# MarginForeground = ""
# MarginBackground = ""
# MarkerBackground = ""
SelectionForeground = "#292828"
SelectionBackground = "#b1701e"
MatchedBraceForeground = "#91a707"
MatchedBraceBackground = "#3a1f4a"
# BraceForeground = ""
# CaretForeground = ""
# CaretLineBackground = ""
# IndentationGuidesForeground = ""
# FoldMarginForeground = ""
# PaneBackground = ""
# Link = ""
# LinkVisited = ""
Scope = "#C4580F"
LogInfoForeground = "#585858"
LogInfoBackground = "#0a0a0a"
# LogForeground = ""
LogBackground = "#0a0a0a"
CuePathForeground = "#585858"
CuePathBackground = "#0a0a0a"
