[Settings]
gtk-theme-name={{ gtk.theme.name }}
gtk-icon-theme-name={{ gtk.theme.icons }}
gtk-font-name={{ font.primary.name }} {{ font.primary.size }}
gtk-cursor-theme-name={{ gtk.theme.cursor }}
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=1
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle="hintsfull"
