# {{ ansible_managed }}

# Dracut modules to add to the default
add_dracutmodules+=" systemd "

# Dracut modules to omit
omit_dracutmodules+=" plymouth "

# Kernel modules to exclusively include in the initramfs
drivers+=" "

# Kernel modules to add to the initramfs
add_drivers+=" "

# Files to add to the initramfs
add_files+=" "

# Use hostonly mode (build initramfs specific to the current system)
hostonly="yes"

# Speed up boot by assuming the root device is persistent and does not need to be waited for
persistent_policy="by-uuid"

# Combine early microcode with the initramfs
early_microcode="yes"

# Set compression method (default is gzip)
compress="zstd"

{% if dracut_additional_config is defined %}
{{ dracut_additional_config }}
{% endif %}
