#
# /etc/pacman.conf
#
# See the pacman.conf(5) manpage for option and repository directives
[options]
{% if distribution == 'EndeavourOS' %}
HoldPkg     = pacman glibc dracut kernel-install-for-dracut eos-dracut
{% else %}
HoldPkg     = pacman glibc
{% endif %}
#XferCommand = /usr/bin/curl -C - -f %u > %o
#XferCommand = /usr/bin/wget --passive-ftp -c -O %o %u
#CleanMethod = KeepInstalled
#UseDelta    = 0.7
{% if architecture == 'x86-64-v3' %}
Architecture = x86_64 x86_64_v3
{% else %}
Architecture = auto
{% endif %}
# Pacman won't upgrade packages listed in IgnorePkg and members of IgnoreGroup
{% if inventory_hostname == 'ninjabot' %}
IgnorePkg = ncurses lib32-ncurses
{% else %}
IgnorePkg = ncurses
{% endif %}
#IgnoreGroup =

#UseSyslog
Color
ILoveCandy
#TotalDownload
CheckSpace
#VerbosePkgLists
ParallelDownloads = 10

# By default, pacman accepts packages signed by keys that its local keyring
# trusts (see pacman-key and its man page), as well as unsigned packages.
SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional
#RemoteFileSigLevel = Required

{% if repos.syncopated == True %}
{% if architecture == 'x86-64-v3' %}
[syncopated-v3]
SigLevel = Optional TrustAll
Server = http://bender.syncopated.net/repo/archlinux/packages/x86_64_v3/
Server = http://syncopated.hopto.org/repo/archlinux/packages/x86_64_v3/
{% else %}
#<disabled_v3 >[syncopated-v3]
#<disabled_v3 >SigLevel = Optional TrustAll
#<disabled_v3 >Server = http://bender.syncopated.net/repo/archlinux/packages/x86_64_v3/
#<disabled_v3 >Server = http://syncopated.hopto.org/repo/archlinux/packages/x86_64_v3/
{% endif %}

[syncopated]
SigLevel = Optional TrustAll
Server = http://bender.syncopated.net/repo/archlinux/packages/x86_64/
Server = http://syncopated.hopto.org/repo/archlinux/packages/x86_64/
{% endif %}
[proaudio]
Server = https://arch.osamc.de/$repo/$arch

{% if distribution == 'EndeavourOS' %}
[endeavouros]
SigLevel = PackageRequired
Include = /etc/pacman.d/endeavouros-mirrorlist
{% endif %}

[core]
Include = /etc/pacman.d/mirrorlist

[extra]
Include = /etc/pacman.d/mirrorlist

[community]
Include = /etc/pacman.d/mirrorlist

[multilib]
Include = /etc/pacman.d/mirrorlist

# [archlabs-testing]
# Server =  https://pub-7d84e047b852442a86fd6d7feb1ff2cd.r2.dev/$repo/$arch
# Server =  https://github.com/ArchLabs/$repo/raw/master/$arch
# Server =  https://bitbucket.org/archlabslinux/$repo/raw/master/$arch

[archlabs]
Server = https://pub-7d84e047b852442a86fd6d7feb1ff2cd.r2.dev/$repo/$arch
Server = https://bitbucket.org/archlabslinux/$repo/raw/master/$arch
Server = https://github.com/ArchLabs/$repo/raw/master/$arch
Server = https://sourceforge.net/projects/archlabs-repo/files/$repo/$arch
