version: '3.1'

services:
  flowise:
    image: {{ flowise.image }}
    restart: always
    environment:
{% for item in lookup('ansible.builtin.dict', env.vars) %}
      - {{ item.key|upper }}={{ item.value }}
{% endfor %}
    ports:
{% for port in flowise.ports %}
      - "{{ port.host }}:{{ port.container }}"
{% endfor %}
    volumes:
{% for volume in flowise.volumes %}
      - {{ volume.host }}:{{ volume.container }}
{% endfor %}
{% if compose.command %}
    command: {{ compose.command }}
{% endif %}
    networks:
     network:
       ipv4_address: 10.5.0.5
  db:
    image: ankane/pgvector
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
      POSTGRES_DB: laudllm
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    networks:
     network:
       ipv4_address: 10.5.0.6
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
      - "8001:8001"
    networks:
     network:
       ipv4_address: 10.5.0.7
    volumes:
      - redis_data:/data

volumes:
  redis_data:

networks:
  network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1
