<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="scripts/search.js"></script>
    <script src="scripts/load.js"></script>
  </head>

  <body>
        <div class="info">
          <div class="bookmarks stuff">
            <div class="row">
              <div class=col-md-4><p>computer related activities:</p></div>
              <div class=col-md-4><p>so many</p></div>
            </div>
          </div>
        </div>
    <div class="container">

    <div class="head">
        <div class="logo"><img src="icons/fox.svg" /></div>
        <div class="search_box">

          <img class="engine" id="engineLogo" src="icons/google.svg" onclick="toggleEngine()" style="cursor:pointer" />

          <div id="gSearch" style="display:block;">
            <form id="textField" class="google" action="https://google.com/search" method="get">
              <input class="input_box" type="text" name="q" placeholder="Search with Google">
              <button class="button"> <img src="icons/search.svg" style="cursor:pointer" /></button>
            </form>
          </div>

          <div id="dSearch" style="display:none;">
            <form class="duck" action="https://duckduckgo.com/" method="get">
              <input class="input_box" type="text" name="q" placeholder="Search with DuckDuckGo">
              <button class="button"> <img src="icons/search.svg" style="cursor:pointer" /></button>
            </form>
          </div>
        </div>
      </div>

      <div class="bookmark">
        <div class="category">
          <div class="icon"><img src="icons/code.svg" /></div>
          <div class="bookmarks cod">
            {% for bookmark in intranet.group.llmtesting %}
            <li><a class="bm" href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}</a></li>
            {% endfor %}
          </div>
        </div>

        <div class="category">
          <div class="icon"><img src="icons/search.svg" /></div>
          <div class="bookmarks ent">
            {% for bookmark in intranet.group.agents %}
            <li><a class="bm" href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}</a></li>
            {% endfor %}
            <hr>
          </div>
        </div>

        <div class="category">
          <div class="icon"><img src="icons/docs.svg" /></div>
          <div class="bookmarks doc">
            {% for bookmark in intranet.group.bookmarks %}
            <li><a class="bm" href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}</a></li>
            {% endfor %}
          </div>
        </div>

        <div class="category">
          <div class="icon"><img src="icons/entertainment.svg" /></div>
          <div class="bookmarks ent">
            <li><a class="bm" href="https://www.youtube.com/" target="_blank">Youtube</a></li>
            <li><a class="bm" href="https://www.reddit.com/" target="_blank">Reddit</a></li>
            {% for bookmark in intranet.group.media %}
            <li><a class="bm" href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}</a></li>
            {% endfor %}
          </div>
        </div>

        <div class="category">
          <div class="icon"><img src="icons/music.svg" /></div>
          <div class="bookmarks mus">
            <li><a class="bm" href="https://open.spotify.com/" target="_blank">Spotify</a></li>
            <li><a class="bm" href="https://thelastdisaster.org/" target="_blank">LDisaster</a></li>
            <li><a class="bm" href="https://deathgrind.club/" target="_blank">Deathgrind</a></li>
            <li><a class="bm" href="https://coreradio.ru/" target="_blank">Core Radio</a></li>
            <li><a class="bm" href="https://blogmg23.blogspot.com/" target="_blank">Mg23</a></li>
          </div>
        </div>

        <div class="category">
          <div class="icon"><img src="icons/art.svg" /></div>
          <div class="bookmarks art">
            <li><a class="bm" href="https://www.behance.net/" target="_blank">Behance</a></li>
            <li><a class="bm" href="https://www.deviantart.com/" target="_blank">Deviantart</a></li>
            <li><a class="bm" href="https://www.tumblr.com/dashboard" target="_blank">Tumblr</a></li>
            <li><a class="bm" href="https://unsplash.com/" target="_blank">Unsplash</a></li>
            <li><a class="bm" href="https://in.pinterest.com/" target="_blank">Pinterest</a></li>
          </div>
        </div>

      </div>



    </div>
  </body>

</html>
