{% if inventory_hostname == 'tinybot' %}
file:///mnt/soundbot
file:///mnt/bender
file://{{ user.home }}/Workspace/Archive
file://{{ user.home }}/Workspace
file://{{ user.home }}/Documents
file://{{ user.home }}/Downloads
file://{{ user.home }}/Library
file://{{ user.home }}/Pictures
file://{{ user.home }}/Recordings
file://{{ user.home }}/Sessions
file://{{ user.home }}/Videos
{% else %}
file:///mnt/bender
file://{{ user.home }}/Workspace/Archive
file://{{ user.home }}/Workspace
file://{{ user.home }}/Documents
file://{{ user.home }}/Downloads
file://{{ user.home }}/Library
file://{{ user.home }}/Pictures
file://{{ user.home }}/Recordings
file://{{ user.home }}/Sessions
file://{{ user.home }}/Videos
{% endif %}
