{% if inventory_hostname == 'soundbot' %}
file://{{ user.home }}/Recordings
file://{{ user.home }}/Recordings/Video
file://{{ user.home }}/Recordings/Audio
file://{{ user.home }}/Public
file://{{ user.home }}/Public/Archive
file://{{ user.home }}/Public/Desktop
file://{{ user.home }}/Public/Documents
file://{{ user.home }}/Public/Downloads
file://{{ user.home }}/Public/Library
file://{{ user.home }}/Public/Music
file://{{ user.home }}/Public/Pictures
file://{{ user.home }}/Public/Recordings
file://{{ user.home }}/Public/Sessions
file://{{ user.home }}/Public/Videos
file://{{ user.home }}/Public/Workspace
{% else %}
file://{{ user.home }}/LLMOS
file://{{ user.home }}/Workspace
file://{{ user.home }}/Recordings
file://{{ user.home }}/Recordings/Video
file://{{ user.home }}/Recordings/Audio
file://{{ user.home }}/Public
file://{{ user.home }}/Public/Archive
file://{{ user.home }}/Public/Desktop
file://{{ user.home }}/Public/Documents
file://{{ user.home }}/Public/Downloads
file://{{ user.home }}/Public/Library
file://{{ user.home }}/Public/Music
file://{{ user.home }}/Public/Pictures
file://{{ user.home }}/Public/Recordings
file://{{ user.home }}/Public/Sessions
file://{{ user.home }}/Public/Videos
file://{{ user.home }}/Public/Workspace
{% endif %}
