version: '3.9'

services:
  chromadb:
    image: ghcr.io/chroma-core/chroma:latest
    volumes:
      - chroma_persistent_folder:/chroma/chroma/
    environment:
      - IS_PERSISTENT=TRUE
    ports:
      - 8000:8000
    networks:
      - net

volumes:
  chroma_persistent_folder:
    driver: local
  backups:
    driver: local

networks:
  net:
    driver: bridge
