version: '3.1'

services:
  flowise:
    image: flowiseai/flowise
    restart: unless-stopped
    environment:
        - PUID=1000
        - PGID=1000
        - PORT=${PORT}
        - PASSPHRASE=${PASSPHRASE}
        - FLOWISE_USERNAME=${FLOWISE_USERNAME}
        - FLOWISE_PASSWORD=${FLOWISE_PASSWORD}
        - DEBUG=${DEBUG}
        - DATABASE_PATH=${DATABASE_PATH}
        - APIKEY_PATH=${APIKEY_PATH}
        - SECRETKEY_PATH=${SECRETKEY_PATH}
        - LOG_LEVEL=${LOG_LEVEL}
        - LOG_PATH=${LOG_PATH}
        - EXECUTION_MODE=${EXECUTION_MODE}
    ports:
        - '${PORT}:${PORT}'
    volumes:
        - /data/flowise:/root/.flowise
        - /data/flowise/output:/data/output
    command: /bin/sh -c "sleep 3; flowise start"
    networks:
      network:
        ipv4_address: 10.5.0.3
  chromadb:
    image: ghcr.io/chroma-core/chroma:latest
    volumes:
      - chroma_persistent_folder:/chroma/chroma/
    environment:
      - PUID: 1000
      - PGID: 1000
      - IS_PERSISTENT: TRUE
    ports:
      - "8000:8000"
    networks:
      network:
        ipv4_address: 10.5.0.4
  redis:
    image: redis/redis-stack:latest
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
      - "8081:8081"
      - "8001:8001"
    networks:
      network:
        ipv4_address: 10.5.0.5
  postgres:
    image: ankane/pgvector
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      POSTGRES_HOST_AUTH_METHOD: "trust"
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgresql_local_data:/data
      - postgresql_data:/var/lib/postgresql/data
    networks:
      network:
        ipv4_address: 10.5.0.6
  langfuse-server:
    image: ghcr.io/langfuse/langfuse:latest
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
      - NEXTAUTH_SECRET=mysecret
      - SALT=mysalt
      - NEXTAUTH_URL=http://localhost:3000
      - TELEMETRY_ENABLED=${TELEMETRY_ENABLED:-true}
      - NEXT_PUBLIC_SIGN_UP_DISABLED=${NEXT_PUBLIC_SIGN_UP_DISABLED:-false}
      - LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=${LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES:-false}
    networks:
      network:
        ipv4_address: 10.5.0.7


volumes:
  chroma_persistent_folder:
    driver: local
  postgresql_local_data:
    driver: local
  postgresql_data:
    driver: local
  redis_data:
    driver: local

networks:
  network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1
