#############################################################################
############################ i3 config file (v4) ############################
# Please see https://i3wm.org/docs/userguide.html for a complete reference! #
#############################################################################

#####################################################################
##-------------------- Global Variables ---------------------------##
#####################################################################

set $mod Mod4
set $alt Mod1
set $ctrl_l 37
set $ctrl_r 105

set $KP_1 87
set $KP_2 88
set $KP_3 89
set $KP_4 83
set $KP_5 84
set $KP_6 85
set $KP_7 79
set $KP_8 80
set $KP_9 81
set $KP_0 90
set $KP_Enter 104

set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

set $exec exec --no-startup-id
set $exec_always exec_always --no-startup-id

font pango:{{ font.primary.name }} 9

###############################################################
##-------------------- Window Behavior ----------------------##
###############################################################

floating_modifier $mod

workspace_auto_back_and_forth yes

for_window [urgent=latest] focus

focus_follows_mouse no

mouse_warping output

focus_on_window_activation urgent

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 1 px or 1 ppt
        bindsym Down resize grow height 1 px or 1 ppt
        bindsym Up resize shrink height 1 px or 1 ppt
        bindsym Right resize grow width 1 px or 1 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

###############################################################
##-------------------- Bindings   ---------------------------##
###############################################################

### kill focused window
bindsym F1 kill
bindsym $mod+q kill
bindsym $mod+KP_Subtract kill

# start dmenu (a program launcher)
#bindsym ctrl+space exec rofi -show run
# bindsym ctrl+space exec "rofi -show combi -modi window,run,combi -combi-modi window,run"
#bindsym ctrl+space exec dmenu_run

bindsym $mod+space focus mode_toggle
# alternatively, you can use the cursor keys:

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

### container layout
bindsym $mod+v split h
bindsym $mod+h split v
bindsym $mod+Shift+t layout tabbed
bindsym $mod+Shift+s layout stacking
bindsym $mod+Shift+h layout splitv
bindsym $mod+Shift+v layout splith

bindsym $mod+t split toggle

# enter fullscreen mode for the focused container
bindsym F11 fullscreen toggle

# focus the parent container
bindsym $mod+a focus parent

### switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

bindcode $mod+Mod2+$KP_1 workspace $ws1
bindcode $mod+Mod2+$KP_2 workspace $ws2
bindcode $mod+Mod2+$KP_3 workspace $ws3
bindcode $mod+Mod2+$KP_4 workspace $ws4
bindcode $mod+Mod2+$KP_5 workspace $ws5
bindcode $mod+Mod2+$KP_6 workspace $ws6
bindcode $mod+Mod2+$KP_7 workspace $ws7
bindcode $mod+Mod2+$KP_8 workspace $ws8
bindcode $mod+Mod2+$KP_9 workspace $ws9
bindcode $mod+Mod2+$KP_0 workspace $ws10

### move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

bindcode $mod+Shift+Mod2+$KP_1 move container to workspace $ws1
bindcode $mod+Shift+Mod2+$KP_2 move container to workspace $ws2
bindcode $mod+Shift+Mod2+$KP_3 move container to workspace $ws3
bindcode $mod+Shift+Mod2+$KP_4 move container to workspace $ws4
bindcode $mod+Shift+Mod2+$KP_5 move container to workspace $ws5
bindcode $mod+Shift+Mod2+$KP_6 move container to workspace $ws6
bindcode $mod+Shift+Mod2+$KP_7 move container to workspace $ws7
bindcode $mod+Shift+Mod2+$KP_8 move container to workspace $ws8
bindcode $mod+Shift+Mod2+$KP_9 move container to workspace $ws9
bindcode $mod+Shift+Mod2+$KP_0 move container to workspace $ws10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

###############################################################
##-------------------- Set Colors ---------------------------##
###############################################################

set $border-color {{ colors.focused.border }}
set $inactive-border-color {{ colors.inactive.border }}

set $child-border {{ colors.focused.child_border }}
set $inactive-child-border {{ colors.inactive.child_border }}

set $bg-color {{ colors.focused.background }}
set $inactive-bg-color {{ colors.inactive.background }}

set $text-color {{ colors.focused.text }}
set $inactive-text-color {{ colors.inactive.text }}

set $urgent-bg-color {{ colors.urgent.background }}

set $indicator {{ colors.focused.indicator }}

###############################################################
##-------------------- Appearance ---------------------------##
###############################################################
for_window [class="^.*"] border pixel 1
default_border pixel 1

new_window 1pixel
new_float normal

default_floating_border normal
hide_edge_borders none

{% if ansible_hostname == 'soundbot' %}
gaps inner 14
gaps outer -2
{% else %}
gaps inner 8
gaps outer -2
{% endif %}

smart_gaps on
smart_borders on

# class             border      bground    text      indicat    child_border
client.focused  $border-color $bg-color $text-color $indicator $child-border

client.focused_inactive  {{ colors.inactive.border }} {{ colors.inactive.background }} {{ colors.inactive.text }} {{ colors.inactive.indicator }} {{ colors.inactive.child_border }}

client.unfocused {{ colors.unfocused.border }} {{ colors.unfocused.background }} {{ colors.inactive.text }} {{ colors.unfocused.indicator }} {{ colors.unfocused.child_border }}

client.urgent {{ colors.urgent.border }} {{ colors.urgent.background }} {{ colors.urgent.text }} {{ colors.urgent.indicator }} {{ colors.urgent.child_border }}

client.placeholder {{ colors.placeholder.border }} {{ colors.placeholder.background }} {{ colors.placeholder.text }} {{ colors.placeholder.indicator }} {{ colors.placeholder.child_border }}

client.background {{ colors.primary.background }}

###############################################################
##-------------------- Bar        ---------------------------##
###############################################################

bar {
        id bar-primary
{% if ansible_hostname == 'ninjabot' %}
        font pango:{{ font.primary.name }} 9
{% else %}
        font pango:{{ font.primary.name }} 12
{% endif %}
        modifier none

        workspace_buttons yes

        position top

        i3bar_command i3bar

        colors {
          background {{ colors.primary.background }}
          statusline {{ colors.primary.status }}
          separator {{ colors.primary.separator }}

#         <colorclass>       <border>                            <background>               <text>
          focused_workspace  {{ colors.workspace.border }} {{ colors.workspace.background }} {{ colors.workspace.text }}
          active_workspace   {{ colors.active.border }} {{ colors.active.background }} {{ colors.active.text }}
          inactive_workspace {{ colors.inactive.border }} {{ colors.inactive.background }} {{ colors.inactive.text }}
          urgent_workspace   {{ colors.urgent.border }} {{ colors.urgent.background }} {{ colors.urgent.text }}
          binding_mode       {{ colors.placeholder.border }} {{ colors.placeholder.background }} {{ colors.placeholder.text }}
        }

        status_command /usr/bin/i3status-rs ~/.config/i3status-rust/config.toml

{% if ansible_hostname == 'ninjabot' %}
        workspace_min_width 30
        height 32
{% else %}
        workspace_min_width 50
        height 26
{% endif %}

{% if i3.tray_output != 'default' %}
        tray_output "{{ i3.tray_output }}"
{% else %}
        tray_output primary
{% endif %}
        tray_padding 2
}

########################################################################
########################################################################
####
####                   Workplaces layout
####
########################################################################
########################################################################

# $exec "i3-msg 'workspace 1; exec alacritty'"


########################################################################
########################################################################
####
####                   Window Assignments
####
########################################################################
########################################################################
#assign [class="Bipscript\ IDE"] $ws1
assign [class="(?i)Sonic\ Pi"] $ws2
assign [class="(?i)Zita-mu1"] $ws10
assign [class="Carla2-Rack"] $ws10
assign [class="Jack_mixer"] $ws10

assign [class="Jalv.gtk" title="Fast Lookahead limiter"] $ws10
assign [class="Jalv.select"] $ws10
assign [class="Mixxx"] $ws6
assign [class="Non-Mixer"] $ws10

assign [class="(?i)obsidian"] $ws6

assign [class="REAPER" title="^Mixer"] $ws7

assign [class="^obs"] $ws9

assign [class="^FMIT$"] $ws10

assign [class="^Jnoisemeter$"] $ws10

assign [class="^Patchage"] $ws10


assign [class="^RaySession$"] $ws10

assign [class="^Timemachine$"] $ws10
assign [class="^calfjackhost"] $ws10

assign [title="(?i)EBU R128 Meter"] $ws10
assign [title="(?i)x42-eq - Parametric Equalizer Stereo"] $ws10
assign [title="VU\ Meter\ \(Stereo\)"] $ws10

assign [title="^EBU R128 Meter$"] $ws10
assign [title="^jmeters"] $ws10

assign [title="^x42-dpl"] $ws10
assign [title="jkmeter"] $ws10
assign [title="zita-rev1"] $ws10


# assign [class="Guitarix"] $ws5
# assign [class="Non-Sequencer"] $w5
# assign [class="^Hydrogen"] $ws5
# assign [class="^Seq192"] $ws5
# assign [class="Jalv.gtk" title="Helm"] $ws6
# assign [class="qmidiarp"] $ws6
# assign [class="Qsampler"] $ws1

{% if i3.assignments != 'default' %}
{% for app in i3.assignments %}
assign {{ app }}
{% endfor %}
{% else %}

{% endif %}
########################################################################
########################################################################
####
####                   Floated windows
####
########################################################################
########################################################################

include $HOME/.config/i3/window_assignments

########################################################################
########################################################################
####
####                   HOTKEYS
####
########################################################################
########################################################################

bindsym XF86RotateWindows [class="notepad" title="scriber.rb"] focus

bindsym $mod+Shift+m sticky toggle
bindsym $mod+Shift+space floating toggle

bindsym $mod+XF86LaunchB move scratchpad
bindsym $alt+grave scratchpad show

bindsym Control+XF86Launch1 floating disable, focus

bindsym XF86Launch2 [class="(?i)pulsar"] focus
##### bindsym XF86Launch3 [class="Sonic\ Pi"] focus
##### bindsym XF86Launch4
##### bindsym XF86Launch5
##### bindsym XF86Launch6
##### bindsym XF86Launch7
##### bindsym XF86Launch8
bindsym $alt+XF86LaunchB [class="(?i)terminator"] scratchpad show
bindsym $mod+F7 [title="^jack-keyboard"] scratchpad show
bindsym $mod+F8 [class="^VMPK"] scratchpad show

##### bindsym <var> focus output HDMI-1
##### bindsym <var> focus output HDMI-2
##### bindsym XF86LaunchB nop dropdown

bindsym $mod+Return $exec terminator

#############################
#### ---{ navigation }--- ###
#############################

#### The right button toggles floating
##### bindsym button2 --release --whole-window floating toggle
##### bindsym $mod+button2 --release --whole-window floating toggle

bindsym XF86Back workspace prev
bindsym XF86Forward workspace next

#bindsym XF86AudioRaiseVolume exec "pamixer -ui 3 && pamixer --get-volume > /tmp/xobpipe"
#bindsym XF86AudioLowerVolume exec "pamixer -ud 3 && pamixer --get-volume > /tmp/xobpipe"
# mute sound
#bindsym XF86AudioMute exec "amixer sset Master toggle | sed -En '/\[on\]/ s/.*\[([0-9]+)%\].*/\1/ p; /\[off\]/ s/.*/0/p' | head -1 > /tmp/xobpipe"

#bindsym $mod+Shift+p exec gnome-calculator
#bindsym $mod+p exec ~/.scripts/dmshot

## This will switch the current layout to the 'us'.
#bindsym $mod+l exec "setxkbmap -layout us && sleep 0.1 && setxkbmap -option grp:caps_toggle 'us,ru' -option grp_led:caps && sleep 0.1 && i3lock --blur 5"

## This keybind will lock the screen. The lockscreen.
#bindsym $mod+l exec "sleep 0.1 && i3lock --blur 5"

########################################################################
########################################################################
####
####                   AUTOLOAD
####
########################################################################
########################################################################
## Here is a language switcher by pressing capslock button,
## and the capslock functionality available by using shift+capslock.
## Uncomment to enable 'us' to/from 'ru' switch. change to language(s) you prefer more.

#exec_always setxkbmap -option grp:caps_toggle "us,ru" -option "grp:caps_toggle,grp_led:caps"

# $exec xrandr --output HDMI-1 --mode 1920x1080 --rate 60 --scale 1x1
#exec xrandr --auto --output HDMI-1 --mode 1920x1080 --above HDMI-2

#$exec feh --recursive --bg-fill --randomize /usr/share/backgrounds/syncopated/*

$exec "dunst"
$exec_always "pkill picom; sleep 1; DISPLAY=':0' picom -b; sleep 1"
$exec "/usr/share/i3/scripts/i3autolayout.py"
$exec "nm-applet"
#$exec "redshift"
$exec "dex -a -s /etc/xdg/autostart/:~/.config/autostart/"
$exec "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

$exec_always "reload-sxhkd.sh"

{% if i3.autostart != 'default' %}
{% for a in i3.autostart %}
$exec {{ a }}
{% endfor %}
{% endif %}

$exec_always "mkfifo /tmp/xobpipe && tail -f /tmp/xobpipe | xob -t 2170 & disown"
#exec ~/.i3/launch.sh
