###############################################################
############################ i3 config file (v4) ##############
###############################################################


##------------ {Global Variables} ---------------------------##

include $HOME/.config/i3/definitions

##------------ {Window Behavior} ----------------------##

include $HOME/.config/i3/window_behavior

##------------ {Modes} ----------------------##

include $HOME/.config/i3/modes/resize

##------------ {Key Bindings}   ---------------------------##

include $HOME/.config/i3/keybindings

##------------ {Appearance} ---------------------------##

include $HOME/.config/i3/appearance

#------------- {Workspace Outputs} ---------------------------#

{% if i3.workspaces != 'default' %}
{% for ws in i3.workspaces %}
workspace {{ ws }}
{% endfor %}
{% endif %}


#------------- {Window Assignments} ---------------------------#

include $HOME/.config/i3/window_assignments

#------------- {Autostart} ---------------------------#

include $HOME/.config/i3/autostart
