[Desktop Entry]
Type=Application
Name=JackTrip
Comment=Network Audio Connecivity
{% if jacktrip.server.args != "" %}
Exec=jacktrip {{ jacktrip.server.args }}
{% elif jacktrip.client.args != "" %}
Exec=jacktrip {{ jacktrip.client.args }}
{% endif %}
Icon=JackTrip
Terminal=false
Categories=Utility;Network;Audio;
Keywords=Audio;Network;Session;Studio;
Hidden=false
