---
#TODO: package this
# - name: Install modified starfield theme
#   unarchive:
#     src: files/usr/share/grub/starfield.tar.gz
#     dest: "/usr/share/grub/themes"
#   when: ansible_os_family == 'Archlinux'

- name: Check for EFI support
  shell: efibootmgr -v
  register: efi_check
  ignore_errors: yes
  tags: ['check']

- name: Set efi_supported variable
  set_fact:
    efi_supported: "{{ not efi_check.failed }}"
  tags: ['check']

- setup:
- debug:
    msg: "{{ efi_supported }}"
  tags: ['debug']

- name: Copy background to /usr/share/backgrounds
  copy:
    src: usr/share/backgrounds/str_01_04.png
    dest: /usr/share/backgrounds/str_01_04.png

- name: Set kernel cmdline params in grub
  template:
    src: etc/default/grub.j2
    dest: /etc/default/grub
    owner: root
    group: root
    mode: "644"
    backup: yes
  register: default_grub

- name: Remake grub if changes were made
  ansible.builtin.command: "{{ grub_mkconfig_command }}"
  when:
    - default_grub.changed
  vars:
    grub_mkconfig_command: >-
      {% set grub_command_map = {
        'Debian': 'update-grub',
        'Fedora': 'grub2-mkconfig -o /boot/efi/EFI/Fedora/grub.cfg\ngrub2-mkconfig -o /boot/grub2/grub.cfg',
        'Archlinux': 'grub-mkconfig -o /boot/grub/grub.cfg'
      } %}

      {{ grub_command_map.get(ansible_os_family, '# Unsupported distribution') }}
