version: '3.9'

services:
  wavjourney:
    image: registry.hf.space/b08x-wavjourney:latest
    {# build:
      context: .
      dockerfile: Dockerfile #}
    volumes:
#      - /data/WavJourney/conda:/home/user/.conda
#      - /data/WavJourney/nltk_data:/home/user/nltk_data
      - /data/WavJourney/output:/home/user/app/output
    command: bash /home/user/app/scripts/start_service_and_ui.sh
    environment:
      TORCH_CUDA_ARCH_LIST: ${TORCH_CUDA_ARCH_LIST:-"6.0 6.1 6.2"}
      WAVJOURNEY_OPENAI_KEY: ${WAVJOURNEY_OPENAI_KEY}
      WAVJOURNEY_SERVICE_PORT: ${WAVJOURNEY_SERVICE_PORT:-8021}
      WAVJOURNEY_SERVICE_URL: ${WAVJOURNEY_SERVICE_URL:-127.0.0.1}
      WAVJOURNEY_MAX_SCRIPT_LINES: ${WAVJOURNEY_MAX_SCRIPT_LINES:-999}
    ports:
      - 8021:8021
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]


volumes:
#  conda:
#    driver: local
#  nltk_data:
#    driver: local
  output:
    driver: local
